.write_post_container {
  width: 50%;
  background: #fff;
  border-radius: 6px;
  padding: 10px;
  columns: #626262;
  margin: 0 auto;
}
.write_post_container form textarea {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  resize: none;
}
.user_profile {
  display: flex;
  align-items: center;
}

.user_profile span {
  position: relative;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-right: 10px;
}

.post_input_container {
  padding-left: 50px;
  padding-top: 20px;
}

.post_input_container textarea {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  resize: none;
}
.post_input_container textarea:nth-child(1) {
  font-weight: bold;
}
.post_input_container textarea:nth-child(2) {
  border-bottom: 1px solid #ccc;
}
.add_post_link {
  display: flex;
  margin-top: 10px;
  justify-content: space-evenly;
}
.add_post_link a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #626262;
  font-size: 12px;
}
.add_post_link  a span {
  position: relative;
  height: 20px;
  width: 20px;
}

.add_post_link button {
  background: transparent;
  border: 1px solid #9a9a9a;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  color: #0f1111;
  cursor: pointer;
  line-height: 29px;
  padding: 0 10px 0 11px;
  text-align: center;
}

.add_post_link button:hover {
  background-color: #f7fafa;
}

.add_post_link button:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}
.post_container {
  width: 100%;
  background: #fff;
  border-radius: 6px;
  padding: 20px;
  color: #626262;
  margin: 20px 0;
}

.user_profile span {
  font-size: 13px;
  color: #9a9a9a;
}
.post_text {
  font-size: 15px;
  margin: 15px 0;
}
.post_text p:nth-child(1) {
  font-weight: bold;
}

.post_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.activity_icon div {
  display: inline-flex;
  align-items: center;
  margin-right: 30px;
}
.activity_icon div span {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}